<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lbi.mapper.BoardMapper">

	<!-- 게시판 등록 -->
	<insert id="enroll">
		insert into lbi_board(title, content, writer) values
		(#{title},#{content},#{writer})
	</insert>

	<select id="getList" resultType="com.lbi.model.BoardVO">
		select * from lbi_board
	</select>

	<select id="getPage" resultType="com.lbi.model.BoardVO">
		select * from lbi_board where
		bno = #{bno}
	</select>

	<update id="modify">
		update lbi_board set title = #{title}, content =
		#{content},
		updatedate = sysdate where bno = #{bno}
	</update>

	<delete id="delete">
		delete from lbi_board where bno = #{bno}
	</delete>



	<!-- 검색 조건문 -->
	<sql id="criteria">
		<trim prefix="AND (" suffix=")" prefixOverrides="OR">
			<foreach collection="typeArr" item="type">
				<trim prefix="OR">
					<choose>
						<when test="type == 'T'.toString()">
							title like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'C'.toString()">
							content like '%'||#{keyword}||'%'
						</when>
						<when test="type == 'W'.toString()">
							writer like '%'||#{keyword}||'%'
						</when>
					</choose>
				</trim>
			</foreach>
		</trim>
	</sql>

	<select id="getListPaging" resultType="com.lbi.model.BoardVO">
	<![CDATA[
		select bno, title, content, writer, regdate, updatedate from(
		select rownum as rn, bno, title, content, writer, regdate, updatedate
		from lbi_board where rownum <= #{pageNum} * #{amount}
	]]>
		<if test="keyword != null">
			<include refid="criteria"></include>
		</if>
	<![CDATA[
		)
		where rn > (#{pageNum} - 1) * #{amount}
	]]>
	</select>

	<select id="getTotal" resultType="int">
		select count(*) from lbi_board
		<if test="keyword != null">
			where bno > 0 <include refid="criteria"></include>
		</if>
	</select>

</mapper>